fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
email-validator

sqlalchemy
psycopg2-binary

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-multipart

httpx
requests

PyPDF2
python-docx
openpyxl

numpy
pandas

Pillow

scikit-learn
reportlab
beautifulsoup4
lxml
pypdf
aiofiles