fastapi
uvicorn[standard]
python-dotenv

pydantic
pydantic-settings
email-validator

sqlalchemy
psycopg2-binary

python-jose[cryptography]
bcrypt

python-multipart

httpx
requests

PyPDF2
pypdf
python-docx
openpyxl

numpy
pandas
Pillow

scikit-learn

reportlab

beautifulsoup4
lxml
aiofiles

razorpay